.cards {
  max-width: 880px;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 282px 282px 282px;
  grid-template-rows: 362px 362px;
  gap: 20px 17px;
}
.card {
  background: #fff;
  border-radius: 11px;
  width: 282px;
  height: 361px;
  overflow: hidden;
  position: relative;
}
.card__text {
  color: #000;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-left: 12px;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__image {
  width: 282px;
  height: 282px;
  object-fit: fill;
  cursor: pointer;
}
.card__info {
  display: flex;
  justify-content: space-between;
  height: 79px;
  margin: 0 auto;
}
.card__btn-like {
  margin: auto 15px auto auto;
  background-image: url(../images/Like.svg);
  background-repeat: no-repeat;
  border: none;
  width: 21px;
  height: 19px;
  background-color: #fff;
  padding: 0;
  cursor: pointer;
}
.card__btn-like:hover {
  opacity: 50%;
}
.card__btn-like-active {
  background-image: url(../images/Like_hov.svg);
}

.card__btn-delete {
  position: absolute;
  width: 18px;
  height: 19.3px;
  top: 18px;
  right: 15px;
  background-image: url(../images/Trash.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.card__btn-delete:hover {
  opacity: 60%;
}

@media screen and (max-width: 880px) {
  .cards {
    max-width: 581px;
    margin: 36px auto 0;
    grid-template-columns: 282px 282px;
  }
}

@media screen and (max-width: 640px) {
  .cards {
    max-width: 282px;
    margin: 36px auto 0;
    grid-template-columns: 282px;
  }
}
