.header {
  width: 68.75%;
  max-max-width: 880px;
  height: 74px;
  margin: 0 auto 40px auto;
  border-bottom: 1px #545454 solid;
  display: flex;
}
.header__logo {
  max-width: 173px;
  max-height: 33px;
}

@media screen and (max-width: 640px) {
  .header {
    max-height: 56px;
    margin: 0 auto 42px auto;
  }
  .header__logo {
    max-width: 126px;
    max-height: 24px;

    margin: 0 auto;
  }
}
