.profile {
  width: 880px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.profile__container {
  max-width: 120px;
  max-height: 120px;
}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile__avatar-overlay {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
}
.profile__avatar-overlay:hover {
  opacity: 80%;
  background-color: #000;
  background-image: url(../images/EditButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}
.profile__name {
  width: 373px;
  height: 39px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0 15px 0;
}
.profile__about {
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
.profile__info {
  margin: auto 0 auto 30px;
  width: 415px;
  height: 76px;
  display: flex;
  flex-wrap: wrap;
}
.profile__btn-edit {
  width: 22.4px;
  height: 22.4px;
  margin: 15px 0 0 18px;
  border: 1px solid #fff;
  cursor: pointer;
}
.profile__btn-edit:hover {
  opacity: 60%;
}
.profile__btn-add {
  max-width: 150px;
  max-height: 50px;
  border: 2px solid #fff;
  padding: 12.4px 62.4px;
  margin: auto auto auto 165px;
  cursor: pointer;
}
.profile__btn-add:hover {
  opacity: 60%;
}

/* mediano */
@media screen and (max-width: 880px) {
  .profile {
    max-width: 581px;
  }
  .profile__info {
    max-width: 300px;
  }
  .profile__name {
    width: 196px;
    height: 22px;
    font-size: 22px;
    line-height: 27px;
    margin: 0 50px 14px 0;
    text-align: left;
  }
  .profile__btn-edit {
    width: 17.2px;
    height: 17.2px;
    margin: 4px 0 0 0;
    border: 1px solid #fff;
  }
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    width: 282px;
    height: 14px;
  }
  .profile__btn-add {
    max-width: 50px;
    max-height: 50px;
    margin: 22px auto auto auto;
    padding: 12.4px 50px;
  }
}

/* pequeño */
@media screen and (max-width: 640px) {
  .profile {
    max-width: 282px;
    height: 306px;
    align-content: center;
    flex-direction: column;
  }
  .profile__info {
    margin: auto 0 auto 30px;
    width: 224px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto 0 auto;
  }
  .profile__name {
    width: 196px;
    height: 22px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin: 0 auto 14px auto;
  }
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 282px;
    height: 14px;
  }
  .profile__btn-edit {
    width: 17.2px;
    height: 17.2px;
    margin: 4px 0 0 0;
    border: 1px solid #fff;
  }
  .profile__btn-add {
    max-width: 282px;
    margin: 36px 0 0 0;
    padding: 12.4px 128.4px;
  }
}
